 body {
     background-color: white;
 }

 .box {
     margin: auto;
     width: 100%;
 }

 .button {
     font-size: 1.5em;
     font-weight: bold;
     background-color: white;
     border: 1px black;
 }

 .button:hover {
     color: white;
     background-color: black;
     cursor: pointer;
 }

 .button:active {
     color: gray;
 }

 .button_container {
     /*font-size: 0;*/
     padding: 0;
     width: max-content;
     margin: 0 auto;
 }

 .bubble_container {
     font-family: "Times New Roman", serif;
     color: white;
     width: 25em;
     margin: 0 auto;
 }

 .bubble_container > img {
     display: block;
 }

 .quote_container {
     font-size: 1.5em;
     background-image: url('images/mid.svg');
     background-repeat: repeat-y;
 }

 .author_container {
     text-align: right;
 }

 .left_button {
     margin-right: 1px
 }

 #quote {
     margin: 0 10px 5px 10px;
 }

 #author {
     display: block;
     padding-right: 10px;
 }