 body {
     background-color: white;
 }

 .box {
     margin: auto;
     width: 100%;
 }

 .button {
     border: 0;
     background-color: #FF803E;
 }

 .button_container {
     font-size: 0;
     padding: 0;
     width: max-content;
     margin: 0 auto;
     left: 50%;
 }

 .bubble_container {
     color: white;
     width: 250px;
     margin: 0 auto;
 }

 .bubble_container > img {
     display: block;
 }

 .quote_container {
     background-image: url('mid.svg');
     background-repeat: repeat-y;
 }

 .author_container {
     text-align: right;
 }

 .left_button {
     margin-right: 1px
 }

 #quote {
     margin: 0 10px 5px 10px;
 }

 #author {
     display: block;
     padding-right: 5px;
 }